mixin video(info)
    div
       div 
            h2 video
            h4
                a(href=`/videos/${info._id}`) #{info.title}
            - let nowDate = Date.now()
            - let uploadDate = info.createdAt.getTime()
            - let disc = (Number(nowDate) - Number(uploadDate))
            - let bornDate = Math.round((disc)/(1000)) //초로 계산됨
              if bornDate <60
                  small #{info.meta.views} view ﹒ #{Math.round((Date.now()-info.createdAt.getTime())/(1000))}초 전
              else if bornDate <3600
                  small #{info.meta.views} view ﹒ #{Math.round((Date.now()-info.createdAt.getTime())/(1000*60))}분 전
              else if bornDate <86400
                  small #{info.meta.views} view ﹒ #{Math.round((Date.now()-info.createdAt.getTime())/(1000*60*60))}시간 전
              else if bornDate <2592000
                  small #{info.meta.views} view ﹒ #{Math.round((Date.now()-info.createdAt.getTime())/(1000*60*60*24))}일 전
              else if bornDate <31536000
                  small #{info.meta.views} view ﹒ #{Math.round((Date.now()-info.createdAt.getTime())/(1000*60*60*24*30))}달 전
              else if bornDate >=31536000   
                  small #{info.meta.views} view ﹒ #{Math.round((Date.now()-info.createdAt.getTime())/(1000*60*60*24*365))}년 전
            hr  




