extends base.pug
block content
    div.container
        h1 '#{thisVideo.title}' 를 수정합니다.
        br
        form(method="POST",autocomplete="off") 
            div.form__descriptions
                h3(style={margin_bottom:"10px"}) 수정내용
                div 
                    small 기존 제목 : #{thisVideo.title}
                    textarea(require,name="title", placeholder="New Title",value=thisVideo.title,maxlength=35,cols="30", rows="2") 
                div
                    small 설명
                    textarea( cols="30", rows="15",require, name="description", placeholder="영상 설명",minlength=10)
                    br
                    small 해쉬태그
                    input(require,value=thisVideo.hashtags.join(), name="hashtags", placeholder=" 쉼표 ',' 로 분할" maxlength="35")
                input(value="save",type="submit")
    div.container
        form(action=`/videos/${thisVideo.id}/remove`, method="post",autocomplete="off") 
            div.form__descriptions(style={padding:"15px"})
                h3(name=`${thisVideo.createdAt.getTime()}`) 게시글 삭제
                br
                input(require name="deleteTitle", placeholder="여기에 쓰세요 '삭제'", minlength="2", maxlength="2")
                input(type="submit" value="삭제!")
                input(style={display:"none"},name="createdAt",value=thisVideo.s3Id)
    //- (placeholder=`${thisVideo.title}`)
